<strong>Olá, {{entregador}}</strong>
<p>Exite uma nova entrega a ser realizada! Confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{destinatario}} <br />
  <strong>Produto: </strong> {{produto}} <br />
  <br />
  <small>
    Realize o mais breve possível. A satisfação do cliente em primeiro lugar!
  </small>
</p>
